.btnFacebook {
    color: white;
    width: 100%;
    background: #1877F2;
    font-family: Helvetica;
    border: none;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    /* border-radius: 50%; */
    /* margin-left: 2px; */
    text-align: start;
    font-size: 18px;
}
.btnFacebook:hover{
    background-color: #4267B2;
}

