.sidebar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

.inputField::placeholder {
  color: #8a8a8a; /* Change placeholder color to red */
}
